.skill{
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.pos{
    max-width: 500px;
    border: 0.5px solid lightgray;
    margin-bottom: px;
}
.post__image{
    object-fit: contain;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.skill__text{
    font-weight: normal;
    padding: 10px;
}

.skill__avatar{
    object-fit: contain;
    margin-right: 5px;
}
.skill__header{
    padding: 10px;
    display: flex;
    align-items: center;
    border:10px;
    
}

.post__button{
    flex: 0;
    border: none;
    color: #6082a3;
    padding: 10px;
}

/* *{
    margin :0;
  }
  .app{
    background-color: #FAFAFA;
  }
  .app__headerimage{
    
    width: 60px;
    height :30px;
    object-fit: contain;
    
  }
  .app__header{
    padding: 15px;
    background-color: white;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .app__signUp{
    display : flex;
    flex-direction : column;
  }
  
  .app__posts{
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .app__postsLeft{
    margin-right: 40px;
  }
  
  .app__postsRight{
    margin-left: 50px;
  } */