.login-main{
display: flex;
background-image: url('https://www.compotus.com/assets/ppics/12.jpg');
height:100vh;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-size: cover;

}


.login-container {
    margin-left: 900px;
    width: 500px;
    position: relative;
    border-radius: 10px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:white;
    
  }

.login {
    opacity:1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1 {
  text-align: start;
  width: 30%;
  margin-bottom: 5rem;
  left:1rem;
  font-family: "Sofia", sans-serif;
  font-style: italic;
  font-size: 30px;
  font-variant:small-caps;

}

.login-inputs {
    opacity: 1;
  margin-bottom: 0.5rem;
  width: 60%;
}

.login-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  border:block;
  color:rgb(7, 6, 6);
  opacity: 1;
}

.login-input {
    opacity: 1;
  display: flex;
  padding-left: 5px;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 80%;
  border:block;
  background:transparent;
  
}

.login-input::placeholder {
  color:rgb(0, 0, 0);
  font-size: 12px;
}


.button{
    border-radius:10px;
    padding: 12px ;
    width:150px;
    text-decoration: none;
    color:white;
    background:linear-gradient(
          90deg,
        rgb(197, 20, 129)0%,
        rgb(32, 4, 21)100%
    
      );
    margin-top:30px;
    cursor: pointer;
    border-radius:1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }
  .button:hover{
      background:linear-gradient(
          90deg,
        rgba(40, 12, 199, 0.678)0%,
        rgb(172, 5, 5)100%
    
      );
  }
.alreadyuser{
padding:20px;
margin-left:20px;
width:200px;
color:black;
}


