.app-container {
  min-height: calc(100vh - calc(4.5rem + 2.5rem));
  padding: 2rem;
}
@media (min-width: 1280px) {
  .admin-home-cards {
    margin: 0 12rem;
  }
}
/* .admin-home-cards{
    display:flex;
    flex-direction: column;
} */

.admin-home-cards {
  display: flex;
  flex-direction: column;

  position: relative;
}
.admin-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  /* box-shadow: 10px 10px 10px rgb(0 0 0 / 20%); */
  background: #fff;
  color: #000;
  width: 100%;
  position: relative;
  border-radius:1rem;
  transition: 0.5s;
    -webkit-line-clamp: 4;   
    -webkit-box-orient: vertical;     
    overflow: hidden; 
}
.admin-cards:hover{
  transform:translateY(-20px)
}
.admin-cards:hover{
  transform:translateY(-20px);
}
/* .admin-cards:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.admin-cards:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00d0ff;
  filter: blur(10px);
} */
.skill_name a {
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
}
.skill_name a:hover {
  text-decoration: none;
  color: #2bae66ff;
}
.admin-warning {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}
/* .admin-cards span {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 2;
  
  background: #000;
  border-radius: 0.75rem;
} */

.admin-cards .card-head {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  color: #000;
  /* border-bottom: 2px solid #15f4ee; */
}

.admin-cards .card-head-in {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  color: #000;
  font-weight: 500;
}
.card-head-name {
  flex: 1;
  padding-left: 0.4rem;
  text-transform: capitalize;
}
.card-head-name .name {
  text-transform: capitalize;
  font-weight: 200;
}
.admin-cards .card-body {
  padding: 1rem;
  position: relative;
  z-index: 10;
}
.admin-cards .card-body-in {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize
}
.admin-cards .card-foot {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.card-foot .warning {
  justify-content: flex-end;
  display: flex;
}
.card-foot .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.card-foot .link a {
  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 500;
  transition: 0.5s;
}

.like_icon,
.dislike_icon {
  margin-right: 2px;
}
.dislike_icon {
  margin-left: 1rem;
}

/* Skill page */

.card-head-in .title {
  color:black;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.col-2 {
  display: flex;
}
.card-body p {
  font-size: 1rem;
  margin-left: 1rem;
}
.skill-card-foot {
  display: flex;
  padding: 0 1rem 1rem;
  flex: 1;
  align-items: flex-end;
}
.skill-card-foot .skill-button {
  flex: 1;
}
.skill-card-foot.home-skill-button .skill-button {
  flex: 0 0;
  color: #000;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top:1rem;
}
.skill-card-foot.home-skill-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-button a {
  padding: 0.25rem 1rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1rem;
  font-weight: 600;
}
.add-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-skill .add-skill-box {
  box-shadow: 1px 1px 6px 2px rgb(0, 0, 0);
  padding: 3rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
}
.allposts{
  padding: 0.25rem 1rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  border: 2px solid rgb(248, 246, 246);
  border-radius: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.skill-title,
.skill-file,
.skill-text {
  margin-bottom: 1rem;
}
.skill-button {
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.skill-button a:hover {
  /* box-shadow: 0 5px 10px 0 #15f4ee inset, 0 5px 10px 0 #15f4ee,
    0 5px 10px 0 #15f4ee inset, 0 5px 10px 0 #15f4ee; */
  text-decoration: none;
}

/* Editbit */
.app-container.bit-container {
  /* background-image:url('https://wallpapercave.com/wp/wp5320845.jpg'); */
  display: flex;
  align-items: center;
  justify-content: center;
background-repeat:no-repeat;
background-position: center;
background-size: cover;


}
.bit-card {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #2bae66ff;
  border-radius: 0.5rem;
  justify-content: center;
  align-self: center;
}
.bit-card .bit-card-in {
  margin-bottom: 1rem;
  background: transparent;
  color: #000;
  border: 2px solid #2bae66ff;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  text-transform: capitalize;
  min-width: 20rem;
}
.admin-cards.add-post {
  width: auto;
  padding: 2rem;
}
.margin-left {
  margin-left: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.add-post-select {
  display: flex;
  margin-bottom: 1rem;
}
.addpost-text {
  margin-bottom: 2rem;
}
.bit-icons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.edit-icon {
  margin-right: 1rem;
}

.bit {
  margin-top: 1rem;
}

/* navbar */
nav {
  background: #000;
  height: 4.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: sticky;
  z-index: 999;
  top: 0;
  font-family: sans-serif;
}
nav .navbar-links {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
}
nav ul .navbar-links {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: poppins;
  border-radius: 10px;
  margin: 1rem 1rem;
  cursor: pointer;
  transition: 1.5s;
  text-transform: uppercase;
}

.navbar-item .navbar-search {
  border: 2px solid #15f4ee;
}
.navbar-item {
  color: #fff;
}
.makeStyles-searchIcon-3 {
  color: #fff;
}
.MuiInputBase-root {
  border: 1px solid #fff;
  border-radius: 0.5rem;
}
.navbard-item.profile-item svg {
  width: 2em;
  height: 2em;
}

.wrapper {
  background-color: rgb(194, 192, 192);
}

/* post details */
.post-img {
  height: 30px;
}
.card-head img {
  height: 4rem;
  width: auto;
}
.card-foot-in {
  display: flex;
  flex: 1;
  padding-left: 2rem;
}

/* profile */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #000;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  /* border:2px solid #15f4ee;
    border-radius: .5rem; */
}
.profile:hover {
  text-decoration: none;
  color: #000;
}
.profile-card {
  border: 2px solid #000;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 10rem;
  margin-right: 1rem;
}
.skill-button.postdetail-btn {
  margin-top: 3rem;
  color: black;
}
.postdetail-btn a {
  color: black;
}
.profile-skills {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-follow {
  min-height: 20rem;
}
.skill_name {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
/* login */
.login-page {
  width: auto;
}
.login-form {
  margin: 3rem;
  color: #000;
}
.form-label {
  color: #000;
}
.login-button {
  margin-top: 1rem;
  justify-content: space-between;

  margin-left:1rem;
}
.login {
  padding: 0.25rem 1rem;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 0.5rem;
  color: #000;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  justify-content:inherit;
}
.login:last-child {
  margin-left: 1rem;
}
.login:hover {
  text-decoration: none;
  color: #000;
}
.form-control:hover {
  resize: none;
}

.reg-form {
  width: 50%;
  padding: 3rem;
}
.card-body h3 {
  text-align: center;
}

.reg-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
}

@media (max-width: 590px) {
  .profile__body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 590px) {
  .profile__body__left {
    width: 100%;
  }
  .new {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.textfield {
  color: white;
}
.MuiAvatar-fallback {
  margin-right: 0;
}
.reports {
  flex: 0 0 30%;
  width: 30%;
  position: relative;
  margin-left: 2rem;
}
.app-container.post-con {
  display: flex;
}
.reports .card-body h2 {
  text-align: center;
  border-bottom: 2px solid #15f4ee;
  padding: 1rem;
}
.reports .card-body {
  padding: 0;
}
.report-body {
  margin: 0 1rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}
.report-body .icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.Quiz {
  background-color: #fff;
  padding: 1rem 1.125rem;
  box-shadow: 0 1px 5px rgb(158 164 186 / 20%);
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
}

.quiz-button {
  margin-top: 2rem;
}

.quiz-btn {
  margin-right: 1rem;
}
.create__icon {
  margin-left: 0;
}

.verification__container {
  min-height: 81.8vh;
}
.admin-skill {
  position: absolute;
  bottom: 2rem;
  left: 7rem;
}
.skill-search {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:3rem;
}

.achieve {
  border-right: 2px solid #000;
}

.goldc {
  color: green;
}

.bronzec {
  color: #cd7f32;
}

.body-modal {
  padding: 1rem;
}

.c-body {
  background-color: #cccccc30;
}
.c-head {
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.c-cert {
  padding: 1rem;
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.c-cert h5 {
  color: purple;
  font-weight: 700;
  font-size: 1.7rem;
}
.c-cert .date {
  color: red;
  font-size:20px;
}
.sign {
  font-size: 1.2rem;
  border-top: 1px solid #000;
  padding-top: 1rem;
}
.nodata{
  color:white;
  font-size: 4rem;
  
}
.starcolor{
  color:gold;
}