.initial{
  background-color: khaki;
  height: 100vh;
 display:grid;
}
.initial-item{
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right:200px;

  
}
.initial-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: table;
margin-right:200px;
}
.initial-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
