/* 
.home,
.skills,
.post,
.contactus,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
} */
*{
  margin:0;
}
.cgprofile{
  display:flex;
  color:white;
  margin: 5%;
margin-top:25px;
font-size:30px;
cursor:pointer;

}